<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">

</head>

<body>
	<div class="row">	
		<img src = "/static/gopher.svg" alt="Go gopher"/ class="gopher">
	</div>
	
	<div class="row">
		<h1>{{.Title}}</h1>
	</div>

	<div class="row">
    	{{ range .StoryLines}}
		<p> {{ . }}
		{{ end }}
	
    	<ol>
			{{ range .StoryOptions}}
			<li><a href="/{{.Label}}/">{{.Description}}</a></li>
			{{end}}
		</ol>
	</div>
</body>

</html>