<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
	<h1>{{.Title}}</h1>
	
    {{ range .StoryLines}}
	<p> {{ . }}
	{{ end }}
	
    <ul>
		{{ range .StoryOptions}}
		<li><a href="/{{.Label}}/">{{.Description}}</a></li>
		{{end}}
	</ul>
</body>

</html>